#pay_mode_list{float:left;list-style:none;width:150px;}
#pay_mode_list li{float:left;border:1px solid #999;width:150px;height:32px;line-height:32px;padding-left:15px;}

#payform{float:right;width:800px;}
.op_banks{width:684px;margin:1px auto;}
.op_banks li{display:inline-block;width:150px;padding:10px 18px 0 0;}
.op_banks li input{float:left;height:32px;}
.bankicon{float:right;width:126px;height:22px;padding:5px 0px;border:1px solid #DDD;background-image:url(/images/yeep_banks.gif);}
.gs label{background-position:8px 6px;}
.zs label{background-position:6px -30px;}
.js label{background-position:-160px -30px;}
.ny label{background-position:-330px -32px;}
.zg label{background-position:-498px -30px;}
.pf label{background-position:6px -68px;}
.gf label{background-position:-160px -68px;}
.gd label{background-position:-328px -68px;}
.ms label{background-position:-497px -68px;}
.zx label{background-position:6px -106px;}
.xy label{background-position:-159px -106px;}
.pa label{background-position:-330px -106px;}
.sz label{background-position:-494px -105px;}
.jt label{background-position:8px -140px;}
.bj label{background-position:-160px -142px;}
.nj label{background-position:-329px -178px;}
.nb label{background-position:-496px -178px;}
.bj_ns label{background-position:-329px -220px;}
.bh label{background-position:8px -217px;}
.dy label{background-position:-500px -224px;}
.shanghai label{background-position:-161px -341px;}
.youzheng label{background-position:9px -377px;}
.huaxia label{background-position:-496px -259px;}
.zheshang label{background-position:-161px -381px;}
.hy label{background-position:-162px 3px;}
.hangzhou label{background-position:-328px -385px;}