body{
	font-size:62.5%;font-family:Verdana, Geneva, sans-serif, "宋体";padding:0px;margin:0px;padding-top:30px;
	*background-image:url(about:blank);*background-attachment:fixed;/*必要，防抖动*/
}
.clear{clear:both;}


#header{height:86px;width:980px;margin:0px auto;border:1px solid #CCC;}
#content{height:386px;width:980px;margin:0px auto;border:1px solid #CCC;}
#bootom{}
#footer{width:980px;margin:10px auto;text-align:center;line-height:30px;border-top:1px dashed #CCC;}



.page_panel_class{height:35px;line-height:35px;margin:0px auto;text-align:center;}
.page_panel_class a{text-decoration:none;color:#666;}
.page_panel_class .page_item{display:inline-block;border:1px solid #C2D5E3;padding:0px 6px;height:22px;line-height:22px;}
.page_panel_class .page_current{background-color:#E5EDF2;font-weight:bolder;}
.page_panel_class .page_first_label{padding-left:15px;background:url(/public/images/arw_l.gif) no-repeat;background-position:0px;}
.page_panel_class .page_last_label{padding-right:15px;background:url(/public/images/arw_r.gif) no-repeat;background-position:55px;}
